# model evaluation

- 모델이 데이터를 학습한후 예측값이 실제값과 얼마나 비슷한지 수치적으로 확인하는 것이 중요 
- 모델이 훈련 데이터만 잘 외우고 실제 새로운 데이터에는 정확하지 않은 경우 `과적합(Overfitting)` 상태
- 회귀 문제에서는 정확도(Accuracy) 대신, 모델이 예측한 값과 실제값의 차이를 계산하는 지표인 평균 제곱 오차(MSE, Mean Squeared Error)를 주로 사용, MSE 값이 작을 수록 모델의 예측이 실제값에 가까웠다는 뜻 

## 검증 데이터가 있을 때의 모델 평가

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# 데이터 불러오기
train = pd.read_csv("train/train.csv")
test = pd.read_csv("test/0.csv")
submission = pd.read_csv("sample_submission.csv")  # 제출 형식 파일 불러오기

train['ID'] = ( train['Day'] * 24 * 60 + train['Hour'] * 60 + train['Minute'] ) / 30 
test['ID'] = ( test['Day'] * 24 * 60 + test['Hour'] * 60 + test['Minute'] ) / 30

train['ID'] = train['ID'].astype('int64')
test['ID'] = test['ID'].astype('int64')

train.drop(['Day', 'Hour', 'Minute'], axis=1, inplace=True)
test.drop(['Day', 'Hour', 'Minute'], axis=1, inplace=True)
display(train)
display(test)

       DHI  DNI   WS     RH   T  TARGET     ID
0        0    0  1.5  69.08 -12     0.0      0
1        0    0  1.5  69.06 -12     0.0      1
2        0    0  1.6  71.78 -12     0.0      2
3        0    0  1.6  71.75 -12     0.0      3
4        0    0  1.6  75.20 -12     0.0      4
...    ...  ...  ...    ...  ..     ...    ...
52555    0    0  2.4  70.70  -4     0.0  52555
52556    0    0  2.4  66.79  -4     0.0  52556
52557    0    0  2.2  66.78  -4     0.0  52557
52558    0    0  2.1  67.72  -4     0.0  52558
52559    0    0  2.1  67.70  -4     0.0  52559

[52560 rows x 7 columns]

     DHI  DNI   WS     RH    T  TARGET   ID
0      0    0  2.7  34.42  0.0     0.0    0
1      0    0  2.7  34.17  0.1     0.0    1
2      0    0  2.7  34.23  0.2     0.0    2
3      0    0  2.7  33.99  0.3     0.0    3
4      0    0  2.8  33.97  0.4     0.0    4
..   ...  ...  ...    ...  ...     ...  ...
331    0    0  3.6  56.09 -8.0     0.0  331
332    0    0  3.4  53.54 -8.2     0.0  332
333    0    0  3.4  53.89 -8.3     0.0  333
334    0    0  3.4  51.96 -8.4     0.0  334
335    0    0  3.4  51.96 -8.4     0.0  335

[336 rows x 7 columns]

In [5]:
X = train.drop(columns=["TARGET", "ID"])  # 특성 데이터
y = train['TARGET']

In [6]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_valid)
display(y_pred)
display(y_valid.values)

array([60.1581132 , 44.76739435, -1.84843412, ..., -4.38565235,
        0.78986098, -4.82067823])

array([66.89368166, 30.21735604,  0.        , ...,  0.        ,
        0.        ,  0.        ])

TypeError: Series.corr() missing 1 required positional argument: 'other'